---
import footerLogo from "../assets/icons/footer-logo.svg";
---

<footer class="bg-[#1A1A1A] pt-[50px]">
  <div class="container mx-auto">
    <div
      class="flex justify-between border-b-[#474747] border-b-[2px] pb-[67px]"
    >
      <div>
        <img src={footerLogo.src} alt="footerLogo" />
      </div>
      <div class="flex gap-[13px]">
        <ul class="w-[285px]">
          <li
            class="font-medium text-[20px] leading-[24px] mb-[15px] text-white cursor-pointer"
          >
            Главная
          </li>
          <li class="text-white cursor-pointer">Это мы</li>
          <li class="text-white cursor-pointer">Кто мы</li>
          <li class="text-white cursor-pointer">Почему мы?</li>
          <li class="text-white cursor-pointer">Остались вопросы</li>
          <li class="text-white cursor-pointer">Контакты</li>
        </ul>
        <ul class="w-[285px]">
          <li
            class="font-medium text-[20px] leading-[24px] mb-[15px] text-white cursor-pointer"
          >
            Контакты
          </li>
          <li class="text-white cursor-pointer">+7 (708) 802 88 88</li>
          <li class="text-white cursor-pointer">+7 (708) 802 88 88</li>
          <li class="text-white cursor-pointer">+7 (708) 51 51 518</li>
          <li class="text-white cursor-pointer">+7 (708) 51 51 518</li>

          <span class="flex gap-[4px] items-center mb-[16px]">
            <i class="bi bi-whatsapp text-white"></i>
            <li class="text-white cursor-pointer">+7 (708) 802 88 88</li>
          </span>

          <span class="flex gap-[4px] items-center">
            <i class="bi bi-geo-alt-fill text-white"></i>
            <li class="text-white cursor-pointer">г. Бишкек, ул. Ляляля 69</li>
          </span>
        </ul>
        <ul class="w-[285px]">
          <li
            class="font-medium text-[20px] leading-[24px] mb-[15px] text-white cursor-pointer"
          >
            Следите за нами
          </li>

          <span class="flex gap-[4px] items-center mb-[15px]">
            <i class="bi bi-facebook text-white"></i>
            <li class="text-white cursor-pointer">truck_service_ofFicIaL</li>
          </span>

          <span class="flex gap-[4px] items-center">
            <i class="bi bi-instagram text-white"></i>
            <li class="text-white cursor-pointer">truck_service_ofFicIaL</li>
          </span>
        </ul>
      </div>
    </div>

    <div class="py-[18px]">
      <p class="text-[#D9DBE1] text-[12px]">
        Copyright © Truck Services 2022. All rights reserved.
      </p>
    </div>
  </div>
</footer>
