<div
  class="bg-[#F4F6FA] rounded-[9px] pt-[25px] pl-[28px] w-[510px] flex h-[287px]"
>
  <div>
    <h2
      class="font-bold w-[366px] text-[24px] text-[#333333] mb-[15px] leading-[29px]"
    >
      Б/у запчасти для грузовых авто из Европы
    </h2>
    <p class="w-[253px] text-[#333333CC] leading-[19px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et,
      lectus sit lorem id integer.
    </p>
  </div>
  <!-- <div class="relative right-[90px]">
         <img
           src={spare.src}
           alt="spare"
           class="h-[271px] w-[320px]"
         />
       </div> -->
</div>
